<!DOCTYPE html>
<html>
  
  <head>
    <title>Candles</title>
  </head>

  <body>
    <h1>Candles Exercise</h1>
    
    <form action="/candles" method="post">
      
      <label> Choose the number of candles you'd like: </label>
      <br/><br/>

      <input type="text" name="numCandles"> <br/><br/>
      <input type="submit" value="Submit">
        
    </form>
    


  </body>
  
</html>