<!DOCTYPE html>
<html>
  
  <head>
    <title>Candles</title>
  </head>

  <body>
    
     <form action="/candles" method="post">
        
        <label> Choose the number of candles you'd like: </label>
        <br/><br/>

        <input type="text"> <br/>
        
    </form>


  </body>
  
</html>